.GeneFilterTable {
  table-layout: fixed;
}

/* .GeneFilterTable td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

/* Set column widths */
.GeneFilterTable thead>tr>th:nth-child(1) {
  width: 10%;
}
/* Set column widths */
.GeneFilterTable thead>tr>th:nth-child(3) {
  width: 40%;
}