.NetworkUI {
  padding: .5em;
}

.NetworkUI .network-nav {
  width: 460px;
}

.NetworkUI nav.box {
  padding: 0;
  height: calc(100vh - 4em);
}

.NetworkUI .network-topnav-container {
  overflow: scroll;
  height: 30%;
  width: 100%;
}

.NetworkUI .network-table-container {
  height: 70%;
  overflow: scroll;
  width: 100%;
}

.NetworkUI table {
  table-layout: fixed;
  font-size: 14px;
}

.NetworkUI table th abbr {
  cursor: help;
}
.NetworkUI td {
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.NetworkUI table .pway-select {
  width: 25px;
}

.NetworkUI table td.col-name {
  text-align: left;
  white-space: normal;
  text-overflow: clip;
}

.NetworkUI table .col-color {
  width: 35px;
}

.NetworkUI table .col-color button {
  vertical-align: middle;
  padding: 0;
  border-radius: 50%;
  width: 1em;
  height: 1em;
}

.NetworkUI table .col-pwaymembers {
  width: 30px;
  text-align: right;
}

.NetworkUI table .col-edges {
  width: 30px;
  text-align: right;
}

.NetworkUI table .col-overlap {
  width: 30px;
  text-align: right;
}

.NetworkUI table .col-sig {
  width: 75px;
}

.NetworkUI main.network-container {
  width: calc(100vw - 470px);
  min-width: 100%;
  height: calc(100vh - 4em);
  background-color: lightblue;
  margin: 0 auto;
}

@media only screen and (max-width: 770px) {
  .NetworkUI .network-nav,
  .NetworkUI .network-container {
    width: 100vw;
  }
}

.NetworkUI .compact-picker-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.NetworkUI .compact-picker-container {
  position: absolute;
  z-index: 2;
  right: 180px;
}