.NetworkUI {
  padding: .5em;
}

.NetworkUI .network-nav {
  width: 460px;
}

.NetworkUI nav.box {
  padding: 0;
  height: calc(100vh - 4em);
}

.NetworkUI .network-topnav-container {
  overflow: scroll;
  height: 30%;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}

.NetworkUI .network-table-container {
  overflow: scroll;
  height: 70%;
  width: 100%;
  padding: .5em;
}

.col-pway-select {
  width: 25px;
}

.col-name {
  text-align: left;
  white-space: normal;
  text-overflow: clip;
}

.col-color {
  width: 35px;
}

.col-pwaymembers {
  width: 30px;
  text-align: right;
}

.col-edges {
  width: 30px;
  text-align: right;
}

.col-overlap {
  width: 30px;
  text-align: right;
}

.col-sig {
  width: 75px;
}

.NetworkUI main.network-container {
  width: calc(100vw - 470px);
  min-width: 100%;
  height: calc(100vh - 4em);
  background-color: lightcyan;
  border: 1px solid black;
  margin: 0 auto;
}

@media only screen and (max-width: 770px) {
  .NetworkUI .network-nav,
  .NetworkUI .network-container {
    width: 100vw;
  }
}
